*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;

  text-decoration: none;
  list-style: none;
}

:root{
  --c1: rgb(255, 211, 175);
  --c2: rgb(199, 152, 113);
  --c3: rgb(160, 132, 223);
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
}
body{
  font-family: 'Montserrat', sans-serif;
}



h1{
  color: white;
  text-align:center;
  padding: 18px 0;
  font-size: 54px;
  font-weight: lighter;
  font-family: 'Comfortaa', 'Cormorant Infant', cursive;
  /*
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6)  15%, rgba(0,0,0,0) 100%);
    background: black;
  */
}
h2{
  color: white;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align:center;
}
.block{
  background: #000;
  width: 100%;
  height: 640px;
}
section{
  padding: 25px 12%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 80%,#000 100%),url(../img/bg1.jpg);

}
.price{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%,#000 100%),url(../img/breathers.jpg);
}
.study{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.3) 80%,#000 100%),url(../img/team_edited.jpg);
}
.final{
  display: flex;
  width:100%;
  height:400px;
  background:#000;
  text-align: center;
  justify-content: center;
}
.img{
  width: 400px;
  height: 400px;
  background-image: url(../img/masha_veyer.jpg);
  background-position:top;
  background-repeat: no-repeat;
  background-size:contain;

}

header{
  /*background: var(--c1);*/
  width: 100%;
  height:80px;
  display: flex;
  justify-content: space-between;
  margin: 0 -12%;
  align-items: center;
}
.logo{
  color: var(--main-color);
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}
.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span{
  color: var(--text-color);
  font-size: 35px;

}
nav{
  /*background: var(--c2);*/
  display: flex;

}
nav a{
  /*background: var(--c3);*/
  color: var(--text-color);
  display: inline-block;
  margin: 0 22px;
  letter-spacing: 1px;
}
.home-content{


}

.home-content h1{
  background: none;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left;
  line-height: 1.25;
  margin-bottom: 0;
}
.home-content h2{
  font-size: 20px;
  color: var(--main-color);
  letter-spacing: 5px;
  font-weight: 500;
  padding-bottom: 55px;
  background: none;
  text-align: left;
}
h1{
  background: var(--c1);

}
h2{
  background: var(--c2);
}
.buttons{
  background: var(--c3);
}
.button1{
  background: var(--c1);
}
.button2{
  background: var(--c2);
}
.portfolio-content{
  display: grid;
}
.portfolio-item{
  
  width: 200px;
  height: 200px;
  background: var(--c1);
}
.img-overlay{
  width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.1), var(--c3));
}
table{
  background: var(--c1);
}
th{
  background:var(--c2);
}
td{
  background:var(--c3);
}
dt{
  background: var(--c1);
}
dl{
  background:var(--c2);
}
dd{
  background: var(--c3);
}

.team-content{
  background:var(--c1);
}
.team-item{
  background: var(--c3);
}
.study-school{
  background:var(--c1);
}
.study-classes{
  background: var(--c2);
}
form{
  background: var(--c3);
}
.up-button{
  background: var(--c3);
}
footer p{
  background: white;
}
