*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

:root{
  --c1: rgb(255, 211, 175);
  --c2: rgb(199, 152, 113);
  --c3: rgb(160, 132, 223);

  --height: 150vh;
  --light-color: rgb(202, 202, 202);
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
  --small-font: 14px;
  --p-font: 17px;
  --mid-font: 20px;
  --big-font: 36px;
  --title-tab-bg: #ffffa5;
}
body{

}



h1{
  color: white;
  text-align:center;
  font-size: var(--big-font);
  font-weight: lighter;
  font-family: 'Comfortaa', 'Cormorant Infant', cursive;
  margin: 15px 0;
  /*
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6)  15%, rgba(0,0,0,0) 100%);
    background: black;
  */
}
.block h2{
  color: white;
  font-size: var(--mid-font);
  font-weight: 300;
  text-align:center;
  margin-bottom: 25px;
}
.block{
  background: #000;
  width: 100%;
  height: 640px;
}

.block h1{
  color: var(--main-color);
  font-size: var(--big-font);
  font-weight: 800;

}


section{
  padding: 25px 12%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  

}
.home{
  width: 100%;
  height: var(--height);
  min-height: 540px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 80%,#000 100%),url(../img/bg1.jpg);

}
.price{
  width: 100%;
  height: var(--height);
  min-height: 540px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%,#000 100%),url(../img/breathers.jpg);
}
.study{
  width: 100%;
  height: var(--height);
  min-height: 540px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.3) 80%,#000 100%),url(../img/team_edited.jpg);
}
.final{
  display: flex;
  width:100%;
  height:400px;
  background:#000;
  text-align: center;
  justify-content: center;
}
img{
  display:none;
}
.img{
  width: 400px;
  height: 400px;
  background-image: url(../img/masha_veyer.jpg);
  background-position:top;
  background-repeat: no-repeat;
  background-size:contain;

}

header{
  
  /*background: var(--c1);*/
  padding: 25px 12%;
  width: 100%;
  height:80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  z-index:1000;
  align-items: center;
}
.logo{
  color: var(--main-color);
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  text-align:center;
  margin-left: -12%;
  margin-right: 24%;
}
.logo i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span{
  color: var(--text-color);
  font-size: 35px;

}
nav{
  /*background: var(--c2);*/
  display: flex;

}
nav a{
  /*background: var(--c3);*/
  color: var(--text-color);
  display: inline-block;
  margin: 0 22px;
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
}
.home-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-content h1{
  background: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  line-height: 1.25;
  letter-spacing: 2px;
  margin-top: 20vh;
  font-size: 54px;
  color: var(--text-color);

}
.home-content h2{
  color: var(--main-color);
  letter-spacing: 5px;
  font-weight: 600;
  font-size: var(--p-font);
  margin-bottom: 55px;
  background: none;
  text-align: left;
}

.buttons{
  display: flex;
}
.button1{
  background: var(--c1);
  color: var(--text-color);
  background: var(--main-color);
  font-size: var(--p-font);
  font-weight: 700;
  padding: 15px 35px;
  border-radius: 15px;
  border: 2px solid transparent;
}
.button2{
  margin-left: 20px;
  color: var(--main-color);
  background: transparent;
  font-size: var(--p-font);
  font-weight: 700;
  padding: 15px 35px;
  border-radius: 15px;
  border: 2px solid var(--main-color);
}
.new-portfolio{
  height: auto;
}
.video{
  position: relative;
  width: 500px;
  height: 500px;
}
.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
iframe{
  
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: block;
}
.video-descriprion{
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
justify-content: center;
align-items: center;
}
.video-descriprion h5{
  font-size: var(--mid-font);
}
.video-descriprion:hover{

  cursor: pointer;
}
.portfolio-title p{
  color: var(--text-color);
  font-size: var(--p-font);
}
.portfolio-content{
  width: 900px;
  display: grid;
  gAP: 50PX;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  justify-items: center;
;
}
.portfolio-item{
  width: 243px;
  height: 343px;
  background: var(--c1);
  border: 1px solid black;
}
.img-overlay{
  width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.1), var(--c3));
}

.price{
  
  display: flex;
  justify-content: center;
  align-items: center;

}
h2{
  color: var(--main-color);
  font-weight: 300;
  font-size: var(--mid-font);
  background: none;

}

table{
  position: relative;
  margin: 48px auto;
  white-space: nowrap;
  text-shadow: var(--main-color) 0px 0px 5px;
  color: var(--light-color);
  background: linear-gradient(rgba(0,0,0,0) 25%, rgba(255, 255, 255, 0.5) 100%);
  transition: 0.2s ease ;
}

 th {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 15px;
}

.tab-no-data{
  background-image: linear-gradient(to bottom right, transparent 49%, RGBA(255,255,255, 0.8), transparent 50%);
  background-repeat: no-repeat;
}

td {
  padding: 10px 15px;

}
tr:first-child td,th {
  background: rgba(255,255,255,0.2);
}


.price-content{
  position: relative;
  width: 100%;
  text-align: center;
  max-width: 800px;
  min-width: 535px;
  height: 700px;
  background: black;

}
.price-content:before{
  content:"";
  position: absolute;
  top: -20px;
  right: -2px;
  left: -2px;
 bottom: -2px;
 background: #fff;
 z-index: -1;
}
td, th {
  padding: 10px;
  position: relative;

}

dt{
  display: inline;
}
dt::after{
  content: " — "
}
dl{
  padding: 0 12px;
  text-align: left;
  display: grid;
  gap: 0.7em;
  font-size: var(--small-font);
  color: var(--light-color);
  line-height: 1.25;

}
.price-table-content{
  margin: 78px 0;
}
dd{

  display:inline;

}

.team-content{
  background:var(--c1);
}
.team-item{
  background: var(--c3);
}
.study-school{
  background:var(--c1);
}
.study-classes{
  background: var(--c2);
}
form{
  background: var(--c3);
}
.up-button{
  background: var(--c3);
}
footer p{
  background: white;
}
@media(max-width: 810px) {
  table{
    transform: scale(0.8);
    margin: 12px 0;
  }
}
@media(max-width: 1185px){
  .portfolio-item{
    width:337px;
    height:477px;
  }
  .portfolio-content{
    grid-template-columns: repeat(2, 1fr);

  }
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(min-width: 910px) {
  table{
    transform: scale(1.1);
    margin: 48px auto;
  }
}
@media(min-width: 1040px) {
  table{
    transform: scale(1.2);
    margin: 64px auto;
  }
}
